<div ng-controller="OpenCardHeroCtrl">
    <div class="container" ng-controller="HeroCtrl" ng-repeat="heros in hero">
        <div class="card-open-hero">
            <div class="card-image-open-hero">
                <img data-ng-src="{{heros.thumbnail.path + '.' + heros.thumbnail.extension}}" alt="Heroes" class="card-image-open-hero">
            </div>
            <div class="hero-stats">
                <h4>{{ heros.name }}</h4>
                <hr>
                <div class="comics-list">
                    <h5>Quadrinhos</h5>
                    <ul class="comics">
                        <li ng-repeat="comics in heros.comics.items" >
                            {{comics.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
