<div ng-controller="OpenCardHeroCtrl">
    <div class="container" ng-controller="HeroCtrl" ng-repeat="heros in hero">
        <div class="card-open-hero">
            <div class="card-image-open-hero">
                <img data-ng-src="{{heros.thumbnail.path + '.' + heros.thumbnail.extension}}" alt="Heroes" class="card-image-open-hero">
            </div>
            <div class="hero-stats" ng-if="!heros.description">
                <div class="comics-list">
                    <h4>{{ heros.name }}</h4>
                    <h4>Quadrinhos</h4>
                    <ul class="lists">
                        <li ng-repeat="comics in heros.comics.items">
                            {{comics.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hero-stats-description" ng-if="heros.description">
                <div class="character">
                    <h4>{{ heros.name }}</h4>
                    <p class="hero-description">{{heros.description}}</p>
                </div>
                <div class="comics-list">
                    <h4>Quadrinhos</h4>
                    <ul class="lists">
                        <li ng-repeat="comics in heros.comics.items">
                            {{comics.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
