/* Global Style */
body {
  font-family: monospace;
  color: #333;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* End Global Style */


/* Header Style */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  background-color: rgb(90, 34, 34);
  height: 100px;
}

.logo-header {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 2px solid #fff;
}

.search {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 10px;
}

/* End Header Style */


/* Card Style */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  border: 1px solid #ccc;
}


.card {
  height: 370px;
  width: 250px;
  margin: 10px;
  font-size: 1.5em;

  text-align: center;
  box-shadow: 10px 5px 5px rgb(204, 204, 204);
  border-radius: 15px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 20px 10px 10px rgb(204, 204, 204);
}

.card-image {
  height: 250px;
  width: 100%;
}

.hero-name {
  font-weight: bold;
  margin-top: 10px;
}

.see-more {
  margin-top: 15px;
}

.see-more a {
  text-decoration: none;
  color: #000;
  border: 2px solid #666;
  border-radius: 15px;
  padding: 5px;
}

.see-more a:hover {
  background-color: rgb(201, 201, 201);
}

/* End Card Style */

/* Open Hero Card */
.card-open-hero {
  background-color: rgb(70, 70, 70);
  color: #fff;
  height: 100%;
  width: 800px;
  font-size: 1.5em;

  box-shadow: 10px 5px 5px rgb(204, 204, 204);
  border-radius: 15px;
  cursor: pointer;
}

.card-open-hero:hover {
  box-shadow: 20px 10px 10px rgb(204, 204, 204);
}

.card-image-open-hero {
  height: 400px;
  width: 100%;
}

.hero-description {
  font-size: 0.8rem;
}

.hero-stats {
  text-align: center;
  font-weight: bold;
}

.hero-stats-description {
  display: grid;
  grid-template-columns: 350px 350px;
  
  text-align: center;
  font-weight: bold;
}

.lists {
  font-size: 0.7em;
  text-align: center;
  margin-left: 40px;
}

/* End Open Hero Card */

/* Search Input */
#searchbar {
  margin-left: 15%;
  border-radius: 10px;
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
  width: 40%;
}

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

/* End Search Input */

/* Mobile Responsive */
@media (max-width: 800px) { 
  .card-open-hero {
    display: block;
    background-color: rgb(70, 70, 70);
    color: #fff;
    height: 100%;
    width: 400px;
    font-size: 1.5em;
  
    box-shadow: 10px 5px 5px rgb(204, 204, 204);
    border-radius: 15px;
    cursor: pointer;
  }

  .hero-stats-description {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .card-image-open-hero {
    height: 100%;
    width: 100%;
  }
}
/* End Mobile Responsive */